aiohttp==3.8.3
aiosignal==1.3.1
anyio==3.6.1
asgiref==3.4.1
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==22.1.0
bcrypt==3.2.2
bleach==5.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.1.3
colorama==0.4.5
colorgram.py==1.2.0
colorlog==6.7.0
colormap==1.0.4
commonmark==0.9.1
convcolors==2.2.0
cryptography==37.0.2
cycler==0.11.0
Django==3.2.9
django-cors-headers==3.10.0
djangorestframework==3.12.4
djongo==1.3.6
dnspython==2.1.0
docutils==0.19
easydev==0.12.0
elementpath==3.0.2
extcolors==1.0.0
facebook-sdk==3.1.0
fastapi==0.81.0
filelock==3.9.0
Flask==2.2.3
fonttools==4.28.2
frozenlist==1.3.3
future==0.18.2
gTTS==2.3.1
gunicorn==20.1.0
h11==0.13.0
httptools==0.4.0
huggingface-hub==0.11.1
idna==3.3
importlib-metadata==6.0.0
iniconfig==1.1.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
Jinja2==3.1.2
keyboard==0.13.5
keyring==23.13.1
kiwisolver==1.3.2
lxml==4.9.1
MarkupSafe==2.1.2
matplotlib==3.5.0
minidom-ext==0.0.5
more-itertools==9.0.0
multidict==6.0.4
mysql-connector-python==8.0.29
netmiko==4.1.0
ntc-templates==3.0.0
numpy==1.21.4
openai==0.26.1
opencv-python==4.5.4.60
packaging==21.3
pandas==1.5.3
paramiko==2.10.4
pexpect==4.8.0
Pillow==8.4.0
pkginfo==1.9.6
pluggy==1.0.0
protobuf==3.20.1
ptyprocess==0.7.0
py==1.11.0
PyAudio==0.2.13
pycparser==2.21
pydantic==1.10.0
Pygments==2.14.0
pykeys==19.9.0
pymongo==3.12.1
PyMuPDF==1.19.2
PyNaCl==1.5.0
pynput==1.7.6
pyparsing==3.0.6
PyPDF2==3.0.1
pyserial==3.5
pytesseract==0.3.8
pytest==7.1.2
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2021.3
pywin32-ctypes==0.2.0
PyYAML==6.0
readme-renderer==37.3
regex==2022.10.31
requests==2.27.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==13.1.0
scp==0.14.4
setuptools-scm==6.3.2
six==1.16.0
sniffio==1.2.0
SpeechRecognition==3.9.0
sqlparse==0.2.4
starlette==0.19.1
tenacity==8.0.1
textfsm==1.1.2
tokenizers==0.13.2
tomli==1.2.2
torch==1.13.1
tqdm==4.64.1
transformers==4.25.1
twine==4.0.2
typing_extensions==4.3.0
urllib3==1.26.8
uvicorn==0.18.3
watchfiles==0.16.1
webencodings==0.5.1
websockets==10.3
Werkzeug==2.2.3
xlrd==2.0.1
yarl==1.8.2
zipp==3.11.0
